<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC"/>
			
			<dataSource type="POOLED">
				<property name="driver" value="net.sf.log4jdbc.DriverSpy"/>
				<property name="url" value="jdbc:log4jdbc:oracle:thin:@oracle.coffit.me:1521:xe"/>
				<property name="username" value="C##WAEATING"/>
				<property name="password" value="WAEATING"/>
			</dataSource>
		</environment>
	</environments>
	

	<mappers>
		<package name="com.waeating.member.model.dao"/>
		<package name="com.waeating.ceo.notice.model.dao"/>
		<package name="com.waeating.com.model.dao"/>
	    <package name="com.waeating.notice.model.dao"/>
	    <package name="com.waeating.support.model.dao"/>
	    <package name="com.waeating.waitingRecord.model.dao"/>
	    <package name="com.waeating.ceo.review.model.dao"/>
	    <package name="com.waeating.ceo.restInfo.model.dao"/>
	    <package name="com.waeating.review.model.dao"/>
	    <package name="com.waeating.report.model.dao"/>
	</mappers>
</configuration>
