@charset "UTF-8";
*{margin: 0;padding: 0;}

body{
    width: 1920px;
    background-color: #f1f1f1;
}

.wrap{
    width: 1600PX;
    margin: auto;
    background-color: #f1f1f1;
    position: relative;
}

label{
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 600;
}

.find{
    background-color: #ffffff !important;
    width: 400px;
    height: 400px;
    float: left;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgb(155, 155, 155);
    text-align: center;
    margin-top: 400PX !important;
}

.find img{
    filter: invert(31%) sepia(67%) saturate(2357%) hue-rotate(351deg) brightness(91%) contrast(85%);
    width: 150px;
    margin-top: 90px;
}

.find a{
    text-decoration: none;
    display: inline-block;
    width: 400px;
    height: 400px;
}

.find p{
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin-top: 30px;
}

#f_phone{
    margin:0 100px 0 350px;
}
#backBtn{
    position: fixed;
    bottom: 100px;
    right: 200px;
    background-color: #D94925;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
}