<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.waeating.ceo.notice.model.dao.ComNoticeMapper">
  	<resultMap type="com.waeating.com.model.dto.ComNoticeDTO" id="comNoticeResultMap">
  		<id property="noticeNo" column="NOTICE_NO"/>
  		<result property="noticeTitle" column="NOTICE_TITLE"/>
  		<result property="noticeContent" column="NOTICE_CONTENT"/>
  		<result property="regDate" column="REG_DATE"/>
  		<result property="comNo" column="COM_NO"/>
  		<result property="rNum" column="RNUM"/>
  		<association property="comNoticeAttach" resultMap="comNoticeAttachResultMap"/>
  	</resultMap>
  	
  	<resultMap type="com.waeating.com.model.dto.ComNoticeAttachDTO" id="comNoticeAttachResultMap">
  		<id property="fileNo" column="FILE_NO"/>
  		<result property="noticeNo" column="NOTICE_NO"/>
  		<result property="originName" column="ORIGIN_NAME"/>
  		<result property="fileName" column="FILE_NAME"/>
  		<result property="isDeleted" column="IS_DELETED"/>
  		<result property="date" column="DATE"/>
  	</resultMap>
  	
  	<insert id="insertComNotice" parameterType="com.waeating.com.model.dto.ComNoticeDTO">
  		INSERT
  		  INTO COM_NOTICE CN
  		(
  			CN.NOTICE_NO, CN.NOTICE_TITLE, CN.NOTICE_CONTENT,
  			CN.REG_DATE, CN.COM_NO
  		)
  		VALUES
  		(
  			SEQ_NOTICENO.NEXTVAL, #{ noticeTitle }, #{ noticeContent },
  			SYSDATE, 1
  		)
  		<!-- CN.CON_NO : 업체 정보 받고 쿼리문 다시 수정하기 -->
  	</insert>
  	
  	<select id="selectAllNotice" resultMap="comNoticeResultMap">
  		 SELECT
  		   		A.RNUM
  		   	  , A.NOTICE_NO 
  		   	  , A.NOTICE_TITLE
  		   	  , A.REG_DATE
  		   FROM (SELECT ROWNUM RNUM
  		   			  , B.NOTICE_NO 
  		   			  , B.NOTICE_TITLE
  		   			  , B.REG_DATE
  		   		   FROM (SELECT C.NOTICE_NO 
  		   		   			  , C.NOTICE_TITLE
  		   					  , C.REG_DATE
  		   				   FROM COM_NOTICE C
  		   				 <where>
  		   				 	<if test="searchCondition == 'noticeTitle'">
	           				   C.NOTICE_TITLE LIKE '%' || #{ searchValue } || '%'
							</if>
  		   				 </where>
  		   				 ORDER BY C.REG_DATE DESC
  		   		   		) B
  		   		   	<![CDATA[
	                WHERE ROWNUM <= #{ endRow }
	                ]]>
  		   		) A
  		   	WHERE A.RNUM >= #{ startRow }     
  		 <!-- SELECT
  			    CN.NOTICE_TITLE
  			  , CN.REG_DATE
  	 	   FROM COM_NOTICE CN
  	 	  ORDER BY 2 DESC -->
  	</select>
  	
  	<select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
               COUNT(*)
          FROM COM_NOTICE CN
    	<where>
			<if test="searchCondition == 'noticeTitle'">
	           CN.NOTICE_TITLE LIKE '%' || #{ searchValue } || '%'
			</if>
			
    	</where>
    	ORDER BY 1 DESC
	</select>
  	
  	<select id="selectOneNotice" resultMap="comNoticeResultMap">
  		SELECT
  			   CN.NOTICE_NO 
 		     , CN.NOTICE_TITLE
 		     , CN.NOTICE_CONTENT
 		     , CN.REG_DATE
 		  FROM COM_NOTICE CN
 		 WHERE CN.NOTICE_NO = #{ noticeNo }
  	</select>
  	
  	<update id="updateNotice">
  		UPDATE 
  			   COM_NOTICE CN
  		   SET CN.NOTICE_TITLE = #{ noticeTitle }
  		     , CN.NOTICE_CONTENT = #{ noticeContent }
  		 WHERE CN.NOTICE_NO = #{ noticeNo }
  	</update>
  	
  	<delete id="deleteNotice" parameterType="com.waeating.com.model.dto.ComNoticeDTO">
  		DELETE
  			   COM_NOTICE CN
  		 WHERE CN.NOTICE_NO = #{ noticeNo }
  	</delete>
  	
     <select id="selectMatziplistComNotice" resultMap="comNoticeResultMap">
     	 SELECT
		          A.NOTICE_TITLE
		        , A.NOTICE_CONTENT
		        , A.REG_DATE
		   	 FROM COM_NOTICE A
		    WHERE A.COM_NO = #{ comNo }
		    ORDER BY A.REG_DATE DESC
     
     </select>
  	
  </mapper>