<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waeating.support.model.dao.ReportMapper">
	<resultMap type="com.waeating.support.model.dto.ReportDTO" id="reportResultMap">
		<id property="reportNo" column="REPORT_NO"/>
		<result property="title" column="REPORT_TITLE"/>
		<result property="content" column="REPORT_CONTENT"/>
		<result property="id" column="MEMBER_ID"/>
		<result property="regDate" column="REG_DATE"/>
		
		<association property="answer" resultMap="answerResultMap"/>
	</resultMap>
	
	<resultMap type="com.waeating.support.model.dto.ReportAnswerDTO" id="answerResultMap">
		<id property="ansNo" column="ANS_NO"/>
		<result property="ansContent" column="ANS_CONTENT"/>
		<result property="ansDate" column="ANS_DATE"/>
		<result property="isDeleted" column="IS_DELETED"/>
		<result property="reportNo" column="REPORT_NO"/>
	</resultMap>
	
	<select id="adminSelectTotalCount" resultType="_int" parameterType="hashmap">
		SELECT
				COUNT(*)
			FROM REPORT A
			<!-- 검색조건문 -->
		<where>
			<if test="searchCondition =='id'">
				A.MEMBER_ID LIKE '%' || #{ searchValue } || '%'
			</if>
			<if test="searchCondition =='title'">
				A.REPORT_TITLE LIKE '%' || #{ searchValue } || '%'
			</if>
		</where>
	</select>
	
	<select id="adminSelectReportList" resultMap="reportResultMap">
		SELECT
				A.RNUM
			  , A.REPORT_NO
			  , A.REPORT_TITLE
			  , A.MEMBER_ID
			  , A.REG_DATE
			  , A.ANS_DATE
		  FROM (SELECT ROWNUM RNUM
		  			 , B.REPORT_NO
		  			 , B.REPORT_TITLE
		  			 , B.MEMBER_ID
		  			 , B.REG_DATE
		  			 , B.ANS_DATE
		  		  FROM(SELECT C.REPORT_NO
		  		  			, C.REPORT_TITLE
		  		  			, C.MEMBER_ID
		  		  			, C.REG_DATE
		  		  			, D.ANS_DATE
		  		  		 FROM REPORT C
		  		  		 LEFT JOIN REPORT_ANS D ON(C.REPORT_NO = D.REPORT_NO) 
			  		  	 <where>
							<if test="searchCondition =='id'">
								C.MEMBER_ID LIKE '%' || #{ searchValue } || '%'
							</if>
							<if test="searchCondition =='title'">
								C.REPORT_TITLE LIKE '%' || #{ searchValue } || '%'
							</if>
						</where>
						ORDER BY C.REPORT_NO DESC
		  		  ) B
		  		  <![CDATA[
			     WHERE ROWNUM <= #{ endRow }
			     ]]>
		  )A
		WHERE A.RNUM >= #{ startRow } 
	</select>
	
	<select id="adminSelectReportDetail" parameterType="hashmap" resultMap="reportResultMap">
		SELECT
				A.REPORT_TITLE
			  , A.REPORT_CONTENT
			  , A.MEMBER_ID
			  , A.REG_DATE
			  , B.ANS_NO
			  , B.ANS_CONTENT
			  , B.ANS_DATE
			FROM REPORT A
			LEFT JOIN REPORT_ANS B ON (A.REPORT_NO = B.REPORT_NO)
		   WHERE A.REPORT_NO = #{ reportNo }
	</select>
	
	<insert id="insertAns" parameterType="hashmap">
		INSERT
			INTO REPORT_ANS A
			(
				A.ANS_NO
			  , A.ANS_CONTENT
			  , A.ANS_DATE
			  , A.REPORT_NO
			)
			VALUES
			(
				SEQ_ANSNO.NEXTVAL
			  , #{ content }
			  , #{ date }
			  , #{ reportNo }
			)
	</insert>
	
	<delete id="deleteAns" parameterType="java.lang.String">
		DELETE
			FROM REPORT_ANS A
		   WHERE A.ANS_NO = #{ ansNo }
	</delete>
	
	<update id="updateAns" parameterType="hashmap">
		UPDATE
				REPORT_ANS A
		<set>
			<if test="content != null and content != ''">
			A.ANS_CONTENT = #{ content },
			</if>
			<if test="date != null and date!= ''">
			A.ANS_DATE = #{ date },
			</if>
		</set>
		WHERE A.ANS_NO = #{ ansNo }
	</update>
</mapper>