<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.waeating.review.model.dao.ReviewMapper">
  
  <resultMap type="com.waeating.review.model.dto.ReviewDTO" id="reviewMap">
  	<id property="reviewNo" column="REVIEW_NO"/>
  	<result property="reviewContent" column="REVIEW_CONTENT"/>
  	<result property="ratings" column="RATINGS"/>
  	<result property="recordNo" column="RECORD_NO"/>
  	<result property="comNo" column="COM_NO"/>
  	<result property="avgRatings" column="AVG_RATINSG"/>
  	
  	 <association property="reviewAttach" resultMap="reviewAttachMap"/>
  	 <association property="reviewAns" resultMap="reviewAnsMAp"/>
  	 <association property="memberInfo" resultMap="memberResultMap"/>
  	 <association property="waitingRecord" resultMap="waitingRecordMap"/>
  	 <association property="comInfo" resultMap="CompanyResultMap"/>
  	 <association property="userInfoAttach" resultMap="UserInfoAttachMap"/>
  </resultMap>
  
  <resultMap type="com.waeating.review.model.dto.ReviewAttachDTO" id="reviewAttachMap">
  	<id property="fileNo" column="FILE_NO"/>
  	<result property="reviewNo" column="REVIEW_NO"/>
  	<result property="originName" column="ORIGIN_NAME"/>
  	<result property="fileName" column="FILE_NAME"/>
  	<result property="isDeleted" column="IS_DELETED"/>
  	<result property="regDate" column="REG_DATE"/>
  </resultMap>
  
  <resultMap type="com.waeating.review.model.dto.ReviewAnsDTO" id="reviewAnsMAp">
  	<id property="ansNo" column="ANS_NO"/>
  	<result property="ansContent" column="ANS_CONTENT"/>
  	<result property="regDate" column="REG_DATE"/>
  	<result property="reviewNo" column="REVIEW_NO"/>
  </resultMap>
  
  <resultMap type="com.waeating.member.model.dto.MemberDTO" id="memberResultMap">
		<id property="id" column="MEMBER_ID"/>
		<result property="pwd" column="MEMBER_PWD"/>
		<result property="email" column="EMAIL"/>
		<result property="name" column="NAME"/>
		<result property="memberType" column="MEMBER_TYPE"/>
		<result property="phone" column="PHONE"/>
		<result property="emailCheck" column="EMAIL_CHECK"/>
	</resultMap>
	
	<resultMap type="com.waeating.waitingRecord.model.dto.WaitingRecordDTO" id="waitingRecordMap">
  	  <id property="recordNo" column="RECORD_NO"/>
  	  <result property="comNo" column="COM_NO"/>
  	  <result property="memberId" column="MEMBER_ID"/>
  	  <result property="useDate" column="USE_DATE"/>
  	  <result property="useStatus" column="USE_STATUS"/>
  	  <result property="waitingNo" column="WAITING_NO"/>
  	  <result property="memberNum" column="MEMBER_NUM"/>
  	  <result property="requirement" column="REQUIREMENT"/>
  	  <result property="memo" column="MEMO"/>
  </resultMap>
  
  <resultMap type="com.waeating.com.model.dto.ComInfoDTO" id="CompanyResultMap">
		<id property="comNo" column="COM_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="comName" column="COM_NAME"/>
		<result property="category" column="CATEGORY"/>
		<result property="comAddress" column="COM_ADDRESS"/>
		<result property="comPhone" column="COM_PHONE"/>
		<result property="comRegist" column="COM_REGIST"/>
		<result property="waitYn" column="WAIT_YN"/>
		<result property="workTime" column="WORK_TIME"/>
		<result property="holiday" column="HOLIDAY"/>
	</resultMap>
	
	<resultMap type="com.waeating.member.model.dto.UserInfoAttachDTO" id="UserInfoAttachMap">
		<id property="fileNo" column="FILE_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="fileName" column="proFileName"/>
		<result property="isDeleted" column="IS_DELETED"/>
		<result property="regDate" column="REG_DATE"/>
	</resultMap>
  
  <select id="selectReview" resultMap="reviewMap" >
      SELECT
            A.REVIEW_CONTENT
          , A.REVIEW_NO
          , A.RATINGS
          , B.ANS_CONTENT
          , E.MEMBER_ID
          , C.USE_DATE
          , F.FILE_NAME proFileName
          , G.FILE_NAME
      FROM REVIEW A
      LEFT JOIN REVIEW_ANS B ON(A.REVIEW_NO = B.REVIEW_NO)
      LEFT JOIN WAITING_RECORD C ON(A.RECORD_NO = C.RECORD_NO)
      LEFT JOIN COM_INFO D ON(C.COM_NO = D.COM_NO)
      LEFT JOIN MEMBER_INFO E ON(E.MEMBER_ID = C.MEMBER_ID)
      LEFT JOIN USER_INFO_ATTACH F ON(F.MEMBER_ID = E.MEMBER_ID)
      LEFT JOIN REVIEW_ATTACH G ON(A.REVIEW_NO = G.REVIEW_NO)
      WHERE A.COM_NO = #{ comNo } 
      ORDER BY C.USE_DATE DESC
  </select>
  
  <select id="selectAvgRatings" resultMap="reviewMap">
  	SELECT
            TRUNC(AVG(RATINGS),1) AVG_RATINSG
       FROM REVIEW 
       WHERE COM_NO = #{ comNo } 
  </select>
  
  <select id="adminSelectTotalCount" resultType="_int" parameterType="hashmap">
  	SELECT
  			COUNT(*)
  	  FROM REVIEW A
  	  JOIN COM_INFO B ON(A.COM_NO = B.COM_NO) 
  	  JOIN WAITING_RECORD C ON(A.RECORD_NO = C.RECORD_NO)
  	  <!-- 검색조건문 -->
		<where>
			<if test="searchCondition =='comName'">
				B.COM_NAME LIKE '%' || #{ searchValue } || '%'
			</if>
			<if test="searchCondition =='name'">
				C.MEMBER_ID LIKE '%' || #{ searchValue } || '%'
			</if>
		</where>
  </select>
  
  <select id="adminSelectReviewList" resultMap="reviewMap">
  	SELECT
  			A.RNUM
  		  , A.REVIEW_NO
  		  , A.COM_NAME
  		  , A.MEMBER_ID
  		  , A.RATINGS
  	  FROM(SELECT ROWNUM RNUM
  	  		 	, B.REVIEW_NO
  	  		 	, B.COM_NAME
  	  		 	, B.MEMBER_ID 
  	  		 	, B.RATINGS
  	  		 FROM(SELECT C.REVIEW_NO
  	  		 		   , D.COM_NAME
  	  		 		   , F.MEMBER_ID
  	  		 		   , C.RATINGS
  	  		 		FROM REVIEW C
  	  		 		JOIN COM_INFO D ON(C.COM_NO = D.COM_NO)
  	  		 		JOIN WAITING_RECORD F ON(C.RECORD_NO = F.RECORD_NO)
  	  		 		<where>
						<if test="searchCondition =='comName'">
							D.COM_NAME LIKE '%' || #{ searchValue } || '%'
						</if>
						<if test="searchCondition =='name'">
							F.MEMBER_ID LIKE '%' || #{ searchValue } || '%'
						</if>
					</where>
  	  		 		ORDER BY C.REVIEW_NO DESC
  	  		 	  ) B
  	  		 	   <![CDATA[
			     WHERE ROWNUM <= #{ endRow }
			     ]]>
		  	  )A
		WHERE A.RNUM >= #{ startRow }
  </select>
  
  <select id="adminSelectReviewDetail" parameterType="hashmap" resultMap="reviewMap">
  	SELECT
  			A.REVIEW_NO
  		  , A.REVIEW_CONTENT
  		  , A.RATINGS
  		  , A.RECORD_NO
  		  , A.COM_NO
  		  , B.ANS_NO
  		  , B.ANS_CONTENT
  		  , B.REG_DATE
  	  FROM REVIEW A
  	  LEFT JOIN REVIEW_ANS B ON(A.REVIEW_NO = B.REVIEW_NO)
  	 WHERE A.REVIEW_NO = #{ reviewNo }
  </select>
  
  <select id="adminSelectReviewAttachList" parameterType="hashmap" resultMap="reviewAttachMap">
	SELECT
			A.FILE_NAME
	  FROM REVIEW_ATTACH A
	 WHERE A.REVIEW_NO = #{ reviewNo }
	   AND A.IS_DELETED = 'N'
  </select>
  
  <delete id="adminDeleteReview" parameterType="hashmap">
  	DELETE
  		FROM REVIEW A
  	   WHERE A.REVIEW_NO = #{ reviewNo }
  </delete>

  <insert id="insertReview" parameterType="com.waeating.review.model.dto.ReviewDTO">
  INSERT
    INTO REVIEW A
    (
    	A.REVIEW_NO
   	  , A.REVIEW_CONTENT
   	  , A.RATINGS
   	  , A.RECORD_NO
   	  , A.COM_NO  	
    ) 
    VALUES
    (
       SEQ_REVIEW_NO.NEXTVAL
     , #{ reviewContent }
     , #{ ratings }
     , #{ recordNo }
     , #{ comNo }  
    )
    
    <selectKey keyProperty="reviewNo" resultType="Integer" order="AFTER">
			SELECT
					SEQ_REVIEW_NO.CURRVAL
			  FROM DUAL
	</selectKey>
  </insert>
  
  <insert id="insertReviewAttach" parameterType="com.waeating.review.model.dto.ReviewAttachDTO">
  INSERT
    INTO REVIEW_ATTACH A
    (
    	A.FILE_NO
	  ,	A.REVIEW_NO
	  ,	A.ORIGIN_NAME
	  ,	A.FILE_NAME
	  ,	A.IS_DELETED
    )
    VALUES
    (
    	SEQ_REVIEWATTACH_NO.NEXTVAL
      , #{ reviewNo }
      , #{ originName }
      , #{ fileName }
      , 'N'	
    )
  </insert>
  
  <select id="selectMyReview" resultMap="reviewMap">
  	     SELECT
            A.REVIEW_CONTENT
          , A.RATINGS
          , C.USE_DATE
          , C.RECORD_NO
          , F.REVIEW_NO
      FROM REVIEW A
      LEFT JOIN WAITING_RECORD C ON(A.RECORD_NO = C.RECORD_NO)
      LEFT JOIN REVIEW_ATTACH F ON(A.REVIEW_NO = F.REVIEW_NO)
    WHERE C.RECORD_NO = #{ recordNo }
  	
  
  </select>
  
  <select id="selectMyReviewImg" resultMap="reviewAttachMap">
  	SELECT
  	        A.FILE_NAME
  	   FROM REVIEW_ATTACH A
  	  WHERE A.REVIEW_NO = #{ reviewNo }    
  </select>
  </mapper>