<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waeating.ceo.restInfo.model.dao.ComInfoMapper">
	<resultMap type="com.waeating.com.model.dto.ComInfoDTO" id="comInfoResultMap">
		<id property="comNo" column="COM_NO"/>
		<result property="comName" column="COM_NAME"/>
		<result property="category" column="CATEGORY"/>
		<result property="comAddress" column="COM_ADDRESS"/>
		<result property="comPhone" column="COM_PHONE"/>
		<result property="waitYn" column="WAIT_YN"/>
		<result property="workTime" column="WORK_TIME"/>
		<result property="holiday" column="HOLIDAY"/>
		<result property="startTime" column="STARTTIME"/>
		<result property="endTime" column="ENDTIME"/>
		<association property="comMenu" resultMap="comMenuResultMap"/>
	</resultMap>
	
	<resultMap type="com.waeating.com.model.dto.ComMenuDTO" id="comMenuResultMap">
		<id property="menuNo" column="MENU_NO"/>
		<result property="menuName" column="MENU_NAME"/>
		<result property="price" column="PRICE"/>
		<result property="comNo" column="COM_NO"/>
	</resultMap>
	
	<resultMap type="com.waeating.com.model.dto.ComBoardAttachDTO" id="comBoardAttachMap">
	    <id property="fileNo" column="FILE_NO"/>
	    <result property="originName" column="ORIGIN_NAME"/>
	    <result property="fileName" column="FILE_NAME"/>
	    <result property="thumbnailName" column="THUMBNAIL_NAME"/>
	    <result property="isDeleted" column="IS_DELETED"/>
	    <result property="regDate" column="REG_DATE"/>
	    <result property="comNo" column="COM_NO"/>
    </resultMap>
	
	<select id="comSelectOneComInfo" resultMap="comInfoResultMap">
		SELECT
			   CI.COM_NO
		     , CI.COM_NAME
		     , CI.CATEGORY
		     , CI.COM_ADDRESS
		     , CI.COM_PHONE
		     , CI.WAIT_YN
		     , CI.WORK_TIME
		     , CI.HOLIDAY
		     , SUBSTR(CI.WORK_TIME, 1, INSTR(CI.WORK_TIME, '~') -1) STARTTIME
		     , SUBSTR(CI.WORK_TIME, INSTR(CI.WORK_TIME, '~') +1, LENGTH(CI.WORK_TIME)) ENDTIME
		  FROM COM_INFO CI
		 WHERE CI.COM_NO = #{ comNo }
	</select>
	
	<select id="comSelectOneComMenu" resultMap="comInfoResultMap">
		SELECT
			   CM.MENU_NO
		     , CM.MENU_NAME
		     , CM.PRICE
		  FROM COM_INFO CI
		  JOIN COM_MENU CM ON (CI.COM_NO = CM.COM_NO)
		 WHERE CI.COM_NO = #{ comNo }
	</select>
	
	<insert id="insertComMenu">
		INSERT
  		  INTO COM_MENU CM
  		(
  			CM.MENU_NO, CM.MENU_NAME, CM.PRICE,
  			CM.COM_NO
  		)
  		VALUES
  		(
  			SEQ_MENUNO.NEXTVAL, #{ menuName }, #{ price },
  			#{ comNo }
  		)
	</insert>
	
	<delete id="deleteComMenu">
		DELETE
		  FROM COM_MENU CM
		 WHERE CM.COM_NO = #{ comNo }
	</delete>
	
	<update id="updateComInfo">
		UPDATE
			   COM_INFO CI
		   SET CI.COM_NAME = #{ comName }
		     , CI.CATEGORY = #{ category }
		     , CI.COM_ADDRESS = #{ comAddress }
		     , CI.COM_PHONE = #{ comPhone }
		     , CI.WORK_TIME = #{ workTime }
		     , CI.HOLIDAY = #{ holiday }
		 WHERE CI.COM_NO = #{ comNo }
	</update>

	<insert id="insertComInfoImg" parameterType="com.waeating.com.model.dto.ComBoardAttachDTO">
		INSERT
		  INTO COM_BOARD_ATTACH A
		  (
		  	A.FILE_NO, A.ORIGIN_NAME, A.FILE_NAME,
  			A.THUMBNAIL_NAME, A.IS_DELETED, A.REG_DATE, A.COM_NO
		  )
		  VALUES
		  (
		  	SEQ_COMATTACHNO.NEXTVAL, #{ originName }, #{ fileName },
  			#{ originName }, 'N', SYSDATE, #{ comNo }
		  )
	</insert>
	
	 <select id="comSelectBoardImage" resultMap="comBoardAttachMap">
	  	 SELECT
	            A.FILE_NAME
	         FROM COM_BOARD_ATTACH A
	         WHERE A.COM_NO = #{ comNo }
    </select>
</mapper>