@charset "UTF-8";



       

    p {width: 600px; text-align: right;}

   table thead tr th {background-color: gray; width: 1200px;} 
  
    .list{width: 600px;}  
    .button{float: right;}  
   .aria-label{text-align: center;} 
 

   


