<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.waeating.ceo.review.model.dao.ComReviewMapper">
  	<resultMap type="com.waeating.review.model.dto.ReviewDTO" id="comReviewResultMap">
  		<id property="reviewNo" column="REVIEW_NO"/>
  		<result property="reviewContent" column="REVIEW_CONTENT"/>
  		<result property="ratings" column="RATINGS"/>
  		<result property="recordNo" column="RECORD_NO"/>
  		<result property="comNo" column="COM_NO"/>
  		<result property="total" column="TOTAL"/>
  		<association property="reviewAns" resultMap="comReviewAnsResultMap"/>
  		<association property="waitingRecord" resultMap="waitingRecordResultMap"/>
  	</resultMap>
  	
  	<resultMap type="com.waeating.com.model.dto.ReviewAnsDTO" id="comReviewAnsResultMap">
  		<id property="ansNo" column="ANS_NO"/>
  		<result property="ansContent" column="ANS_CONTENT"/>
  		<result property="regDate" column="REG_DATE"/>
  		<result property="reviewNo" column="REVIEW_NO"/>
  	</resultMap>
  	
  	<resultMap type="com.waeating.com.model.dto.WaitingRecordDTO" id="waitingRecordResultMap">
  		<id property="recordNo" column="ANS_NO"/>
  		<result property="comNo" column="COM_NO"/>
  		<result property="memberId" column="MEMBER_ID"/>
  		<result property="useDate" column="USE_DATE"/>
  		<result property="useStatus" column="USE_STATUS"/>
  		<result property="waitingNo" column="WAITING_NO"/>
  		<result property="memberNum" column="MEMBER_NUM"/>
  		<result property="requirement" column="REQUIREMENT"/>
  		<result property="memo" column="MEMO"/>
  	</resultMap>
  	
  	
  	
  	
  	<select id="selectAllReview" resultMap="comReviewResultMap">
  		 SELECT
  		   		A.RNUM
  		   	  , A.REVIEW_NO
  		   	  , A.REVIEW_CONTENT
  		   	  , A.COM_NO
  		   	  , A.ANS_CONTENT
  		   FROM (SELECT ROWNUM RNUM
  		   			  , B.REVIEW_NO
  		   			  , B.REVIEW_CONTENT
  		   			  , B.COM_NO
  		   			  , B.ANS_CONTENT
  		   		   FROM (SELECT C.REVIEW_NO
  		   		   			  , C.REVIEW_CONTENT
  		   		   			  , C.COM_NO
  		   		   			  , RA.ANS_CONTENT
  		   				   FROM REVIEW C
  		   				   LEFT JOIN REVIEW_ANS RA ON (C.REVIEW_NO = RA.REVIEW_NO)
  		   				  WHERE C.COM_NO = 1	
  		   				 <!-- <where>
  		   				 	<if test="searchCondition == 'noticeTitle'">
	           				   C.NOTICE_TITLE LIKE '%' || #{ searchValue } || '%'
							</if>
  		   				 </where> -->
  		   		   		) B
  		   		   	<![CDATA[
	                WHERE ROWNUM <= #{ endRow }
	                ]]>
  		   		) A	
  		   	WHERE A.RNUM >= #{ startRow }
  		 <!-- SELECT
  			    CN.NOTICE_TITLE
  			  , CN.REG_DATE
  	 	   FROM COM_NOTICE CN
  	 	  ORDER BY 2 DESC -->
  	</select>
  	
  	<select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
               COUNT(*) total
          FROM REVIEW A
         WHERE A.COM_NO = 1
    	<!-- <where>
			<if test="searchCondition == 'noticeTitle'">
	           A.NOTICE_TITLE LIKE '%' || #{ searchValue } || '%'
			</if>
			
    	</where> -->
	</select>
	
	<select id="selectOneReview" resultMap="comReviewResultMap">
		SELECT R.REVIEW_NO
		     , R.REVIEW_CONTENT
		     , R.RATINGS
		     , W.MEMBER_ID
		     , W.USE_DATE
		  FROM WAITING_RECORD W
		  JOIN REVIEW R ON (R.RECORD_NO = W.RECORD_NO)
		 WHERE R.REVIEW_NO = #{ reviewNo } 
	</select>
	
  	
  </mapper>
  