<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waeating.ceo.reservation.model.dao.CeoWaitingRecordMapper">
	<resultMap type="com.waeating.waitingRecord.model.dto.WaitingRecordDTO" id="waitingRecordResultMap">
		<id property="recordNo" column="RECORD_NO"/>
		<result property="comNo" column="COM_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="useDate" column="USE_DATE"/>
		<result property="useStatus" column="USE_STATUS"/>
		<result property="memberNum" column="MEMBER_NUM"/>
		<result property="requirement" column="REQUIREMENT"/>
		<result property="memo" column="MEMO"/>
		<result property="countRecordNo" column="COUNTNO"/>
		<result property="useTime" column="USETIME"/>
		<result property="rNum" column="RNUM"/>
		<association property="memberInfo" resultMap="memberInfoResultMap"/>
		<association property="refuseReason" resultMap="refuseReasonResultMap"/>
	</resultMap>
	
	<resultMap type="com.waeating.member.model.dto.MemberDTO" id="memberInfoResultMap">
		<id property="id" column="MEMBER_ID"/>
		<result property="pwd" column="MEMBER_PWD"/>
		<result property="email" column="EMAIL"/>
		<result property="name" column="NAME"/>
		<result property="memberType" column="MEMBER_TYPE"/>
		<result property="phone" column="PHONE"/>
		<result property="emailCheck" column="EMAIL_CHECK"/>
	</resultMap>
	
	<resultMap type="com.waeating.waitingRecord.model.dto.WaitingRefuseDTO" id="refuseReasonResultMap">
		<id property="recordNo" column="RECORD_NO"/>	
		<result property="refuseReason" column="REFUSE_REASON"/>
	</resultMap>
	
	<select id="selectTotalCount" resultType="_int">
		SELECT
               COUNT(*)
          FROM WAITING_RECORD
         WHERE COM_NO = 1
	</select>
	
	<select id="selectAllWaitingList" resultMap="waitingRecordResultMap">
		 SELECT
  		   		A.RNUM
  		   	  , A.RECORD_NO
		   	  , A.COM_NO
		      , A.NAME
		      , A.PHONE
		      , A.USETIME
		      , A.USE_STATUS
		      , A.MEMBER_NUM
		      , A.REQUIREMENT
		      , A.REFUSE_REASON
  		   FROM (SELECT ROWNUM RNUM
  		   			  , B.RECORD_NO
  		   			  , B.COM_NO
				      , B.NAME
				      , B.PHONE
				      , B.USETIME
				      , B.USE_STATUS
				      , B.MEMBER_NUM
				      , B.REQUIREMENT
				      , B.REFUSE_REASON
  		   		   FROM (SELECT
						        REC.RECORD_NO
						      , REC.COM_NO
						      , MI.NAME
						      , MI.PHONE
						      , TO_CHAR(REC.USE_DATE, 'HH:MI') USETIME
						      , REC.USE_STATUS
						      , REC.MEMBER_NUM
						      , REC.REQUIREMENT
						      , REF.REFUSE_REASON
						   FROM WAITING_RECORD REC
						   LEFT JOIN WAITING_REFUSE REF ON (REC.RECORD_NO = REF.RECORD_NO)
						   JOIN MEMBER_INFO MI ON (REC.MEMBER_ID = MI.MEMBER_ID)
						  WHERE REC.COM_NO = 1
  		   				 <where>
  		   				 	<if test="searchCondition == 'noticeTitle'">
	           				   C.NOTICE_TITLE LIKE '%' || #{ searchValue } || '%'
							</if>
  		   				 </where>
  		   		   		) B
  		   		   	<![CDATA[
	                WHERE ROWNUM <= #{ endRow }
	                ]]>
  		   		) A	
  		   	WHERE A.RNUM >= #{ startRow }
  		   	
	</select>
</mapper>
